.nav {
    background-color: blue;
    color: white;
    width: 100%;
    height: auto;
    vertical-align: center;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

.a {
    color: aliceblue;
}

.ul {
    margin: 0;
    align-items: center;
    display: flex;
    height: 100%;
}