.nav {
    background-color: blue;
    color: white;
    width: 100%;
    height: auto;
    vertical-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.a {
    color: aliceblue;
}

.ul {
    margin: 0;
}

.Container {
    max-width: '100%';
    padding-left: 1em;
    padding-right: 1em;
}